body {
    font-family: Arial, sans-serif;
    background-color: grey;
    margin: 5px;
    padding: 10px;
}

.container {
    max-width: 1000px;
    width: auto;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1, h2 {
    text-align: center;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input, textarea {
    width: 97%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid rgb(200 190 80);
    border-radius: 10px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background: #27ae50;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background: #219150;
}

textarea#generatedPost {
    height: 100px;
    background: rgba(226, 226, 226, 0.925);
}

/* Button Group Styling */
.button-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
}

.button-group button {
    flex: 1;
    padding: 10px;
    background: orange;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.button-group button:nth-child(2) {
    background: darkred;
}

.button-group button:nth-child(3) {
    background: green;
}

.button-group button:hover {
    opacity: 0.9;
}